.menu-open {
  .burger {
    span {
      &:first-child {
        animation: burger-first-open 0.4s forwards;
      }

      &:last-child {
        animation: burger-second-open 0.4s forwards;
      }
    }
  }

  .nav {
    pointer-events: initial;
    top: 96px;
    opacity: 1;
  }
}

@keyframes burger-first-open {
  0% {
    top: 25%;
    transform: translateY(0) rotate(0);
  }

  50% {
    top: 50%;
    transform: translateY(-50%) rotate(0);
  }

  100% {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
}

@keyframes burger-second-open {
  0% {
    bottom: 25%;
    transform: translateY(0) rotate(0);
  }

  50% {
    bottom: 50%;
    transform: translateY(50%) rotate(0);
  }

  100% {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
}
