.field {
  input {
    &:focus,
    &:not(:placeholder-shown) {
      & + span {
        top: -10px;
      }
    }

    &:focus {
      & + span {
        color: var(--primary);
      }
    }

    &:disabled {
      & + span {
        opacity: 0.38;
      }
    }
  }
}
