.link {
  transition: 0.3s;

  .icon {
    transition: 0.3s;
  }

  &:hover {
    color: var(--primary);

    .icon {
      color: var(--primary);
    }
  }

  &--active {
    &::after {
      content: '';
      position: absolute;
      width: 75%;
      height: 5px;
      bottom: 0;
      background-color: var(--primary);
      scale: 0;
      transition-property: scale;
      transition-duration: 0.3s;

      @media (min-width: 768px) {
        width: 100%;
      }
    }

    &.active {
      &::after {
        scale: 1;
      }
    }
  }
}
